.wrap {
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(255, 254, 254);
  }

  .navbar {
    padding: 50px 0px;
    flex-wrap: nowrap;
    padding-left: -215px;
  }

    .line{
        display: none;
    }

  .navbar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(195, 185, 181);
    font-family: 'Futura New';
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
  }

  .navbar_list :hover{
    color: grey;
    transition: all 0.2s ease;
  }

  li{
    list-style: none;
  }
   
  .navbar_list_haed {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .navbar_list_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .wrap_info {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  

  .wrap_info p {
    color: rgb(195, 185, 181);

  }

  .wrap_info p a {
    color: rgb(195, 185, 181);
    text-decoration: none;
  }

  .location{
    display: flex;
    /* padding: 0px 20px 0px 130px; */
    color: (255, 197, 158);
  }

  .location p a{
   color: rgb(255, 197, 158);
   text-decoration: none;
  }


  .img_location{
    padding: 0px 10px;
    margin-top: -10px;
  }

  .container{
    display: flex;
    max-width: 1000px;
    gap: 15px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .list_numbers{
    position: fixed;
    left: 60px;
  }

    .numbers{
    display: flex;
    max-width: 100px;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
    color: rgb(195, 185, 181);
    
  }
  
  .circl{
    position: absolute;
    margin-left: -23px;
    margin-top: -10px;
    color: rgb(71, 71, 71);
  }

  .img_circl{
    max-width: 25px;
    position: relative;
    margin-left: -8px;
    margin-top: -4px;
    color: rgb(73, 73, 73);
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


  h1{
    color: rgb(8, 6, 6);
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 400;
    line-height: 1.37;
    text-align: left;
    padding: 0px 0px 0px 88px;
  }

  .btn{
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 33.5px;
    box-shadow: 0px 4px 20px 0px rgb(255, 197, 158);
    background: rgb(255, 197, 158);
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .btn:hover{
    box-shadow: 0px 4px 20px 0px rgb(232, 172, 132);
    background: rgb(229, 161, 116);
  }

button{

  background: rgb(255, 197, 158);
  color: rgb(255, 255, 255);
    font-family: 'Futura New';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}

  .social_network{
    display: flex;
    padding: 92px 0px 0px;
    gap: 40px;
  }

  .social_network a{
    transform: scale(1);
    transition: all 0.2s ease;
  }

  .social_network a:hover{
    transform: scale(1.3);
    transition: all 0.2s ease;

  }

  .social_network img{
    max-width: 30px;
    
  }

  .social_network img:hover{
    color: grey;
  }

  .catdog_desktop{
    display: flex;
    /* height: 460px; */
    margin-left: -5px;
  }

  .catdog_desktop img{
    max-width: 529px;
  }

  .bird_notepad{
    display: none;
  }


  @media (max-width: 1035px) {
    .list_numbers{
        display: none;
    }
}

@media (max-width: 1018px){
    /* .catdog_desktop img{
        height: 420px;
        width: 400px;
        margin-top: 27px;
        box-shadow: 20px 20px 60px 10px rgb(255, 197, 158);
    } */

    .history_text p {
        max-width: 342px;
}

.infomaition {
    padding: 16px 0px 20px 65px;
}
  
}

@media (max-width: 900px){

    .navigation{
        display: none;
    }

    .location a{
        display: none;
    }

    .social_network{
        padding: 92px 0px 0px;
    }

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .catdog_desktop{
        display: none;
   
    }
    .title{
      font-size: 55px;
      margin: 0px 25px 25px 25px;
      padding: 0px;
  }
  

    .phantom{
        display: none;
    }
}

@media (max-width: 768px) {

   .navbar_list_haed{
    display: flex;
    align-items: center;
    line-height: 0.1;
    padding: 13px 0px 0px 0px;

   }
   .navbar_list_navigation{
    display: none;
   }

    .burger{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .line{
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: rgb(202, 190, 160);
    }

    .wrap_info{
        display: none;
    }

    .location{
        display: none;
    }

    .info{
      padding: 0;
      
  }

  .title{
    font-size: 45px;
    margin: 0px 25px 25px 25px;
    padding: 0px;
}

    .catdog_desktop{
      display: none;
  }
}

@media (max-width: 768px) {

    .container{
        max-width: 768px;
    }

    .list_numbers{
        display: none;
    }

    .info{
        padding: 0;
        
    }

    .title{
        font-size: 45px;
        margin: 0px 25px 25px 25px;
        padding: 0px;
    }
    .catdog_desktop{
        display: none;
    }

    .bird_notepad{
        display: flex;

    }

    .social_network {
        padding: 113px 0px 0px;
    }
}
